<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: head(~{::title},~{})}">
  <title>Definir Agenda</title>
</head>
<body>
<main>
  <h2>Definir Agenda</h2>
  <form th:action="@{/agenda/cadastrarHorario}" method="post">
    <table border="1">
      <thead>
      <tr>
        <th>Data</th>
        <th>Horários</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dia : ${diasMes}">
        <td th:text="${#temporals.format(dia, 'dd/MM/yyyy')}"></td>

        <td th:each="horario : ${horarios}">
          <input type="checkbox" th:name="${'id'}" th:value="${horario.id}">
          <input type="hidden" th:name="${'dia'}" th:value="${#temporals.format(dia, 'dd/MM/yyyy')}" >
          <label th:for="${'horario' + horario.id}" th:text="${#dates.format(horario.inicio, 'HH:mm') + ' às ' + #dates.format(horario.fim, 'HH:mm')}"></label>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="submit">Salvar</button>
  </form>
</main>
</body>
</html>
