<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{/fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{/fragments/head :: head(~{::title},~{})}">
    <title>Médicos</title>
</head>
<body>
<main>
    <h4>Medicos</h4>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CRM</th>
            <th>Opções</th>
        </tr>
        <tr th:each="m : ${medicos}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.nome}"></td>
            <td th:text="${m.crm}"></td>
            <td>
                <a th:href="@{/medicos/filtercpm/{crmMedico}(crmMedico=${m.crm})}">Consultas</a>
                <a th:href="@{/medicos/editar/{idMedico}(idMedico=${m.id})}">Editar</a>
                <a th:href="@{/medicos/excluir/{crmMedico}(crmMedico=${m.crm})}" onclick="return confirm('Tem certeza de que deseja excluir este médico?')">Excluir</a>

            </td>
        </tr>
    </table>
</main>
</body>
</html>