<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{/fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{/fragments/head :: head(~{::title},~{})}">
    <title>Pacientes</title>
</head>
<body>
<main>
    <h4>Listar Pacientes</h4>
    <a th:href="@{/home}">Voltar</a>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Opções</th>
        </tr>
        </thead>
        <tr th:each="p : ${pacientes}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nome}"></td>
            <td th:text="${p.telefone}"></td>
            <td>
                <a th:href="@{/pacientes/consultasPaciente/{pacienteId}(pacienteId=${p.id})}">Consultas</a>
                <a th:href="@{/pacientes/editar/{pacienteId}(pacienteId=${p.id})}">Editar</a>
                <a th:href="@{/pacientes/excluir/{pacienteId}(pacienteId=${p.id})}" onclick="return confirm('Tem certeza de que deseja excluir este paciente?')">Excluir</a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>
