<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{/fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{/fragments/head :: head(~{::title},~{})}">
    <title>Pacientes</title>
</head>
<body>
<main>
    <div class="page-container alter">
        <h4>pacientes - Listar</h4>
        <a href="#" class="add-patient-button">Adicionar Paciente</a>
        <div class="tabela">
            <input type="text" id="filter-input" placeholder="Filtrar por nome">;
            <a href="#"><i class="fas fa-search"></i></a>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th class="last-child">Opções</th>
                </tr>
                </thead>
                <tr th:each="p : ${pacientes}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nome}"></td>
                    <td th:text="${p.telefone}"></td>
                    <td  class="last-child">
                        <a th:href="@{/pacientes/consultasPaciente/{pacienteId}(pacienteId=${p.id})}" title="Consultas"><i class="fas fa-calendar-alt"></i></a>
                        <a th:href="@{/pacientes/editar/{pacienteId}(pacienteId=${p.id})}" title="Editar"><i class="fas fa-edit"></i></a>
                        <a th:href="@{/pacientes/excluir/{pacienteId}(pacienteId=${p.id})}" title="Excluir" onclick="return confirm('Tem certeza de que deseja excluir este paciente?')"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>
